body {
    font-family: 'Inter', sans-serif;
    background-color: #060016;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #0c002a 0%, black 50%, #0c002a 95%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.country {
    stroke: #060a0f;
    stroke-dasharray: 2;
    stroke-opacity: 0.2;
    stroke-width: 1px;
    transition: fill .5s;
}

.graticule {   
    fill: none;
    stroke: #09E1CD;
    stroke-dasharray: 8 8;
    stroke-opacity: 0.2;
}

.country-info {
    position: fixed;
    top: 0;
    color: white;
    padding: 30px
}

.drag-text {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 12px;
}

.drag-menu-container {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
}

.info-menu-container {
    position: fixed;
    top: 0;
    padding-top: 30px;
}

.quantity-container {
    border-top-style: solid;
    border-top-width: 3px;
    border-color: white;
    display: flex;
    justify-content: space-around;
}

.country-title-text {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 4vw;
}

.country-quantity-titles {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 1.2vw;
}

.country-entrepreneurs-text {
    color: #FF784D;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 3vw;
    margin: 0px;
    font-weight: 500;
}

.country-companies-text {
    color: #AC27F4;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 3vw;
    margin: 0px;
    font-weight: 500;
}

.country-former-employees-text {
    color: #09E1CD;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 3vw;
    margin: 0px;
    font-weight: 500;
}

.div-entrepreneurs {
    margin: 10px;
}

.div-companies {
    margin: 10px;
}

.country-description-text {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    max-width: 30vw;
    font-size: 1vw;

}